doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap-select/dist/css/bootstrap-select.min.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap-fileinput/css/fileinput.min.css')
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="/libs/bower_components/layer/layer.js")
        //script(src="/libs/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src="/bootstrap-select/dist/js/bootstrap-select.min.js")
        script(src="/bootstrap-fileinput/js/fileinput.min.js")
    body
        block content

    block append scripts

    footer
        p Copyright (c) mazl