doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/css.css')
        link(rel='stylesheet', href='/stylesheets/myself.css')
        link(rel='stylesheet', href='/stylesheets/demo.css')
        //link(rel='stylesheet', href='/stylesheets/myself.css')
        link(rel='stylesheet', href='/bootstrap-select/dist/css/bootstrap-select.min.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/bootstrap-fileinput/css/fileinput.min.css')
        link(rel='stylesheet', href='/viewer/viewer.min.css')

        //script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="/js/jquery-1.12.4.min.js")
        script(src="/libs/bower_components/layer/layer.js")
        script(src="/viewer/viewer-jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src="/bootstrap-select/dist/js/bootstrap-select.min.js")
        script(src="/bootstrap-fileinput/js/fileinput.min.js")
    body(font = 'normal 100% Arial sans-serif')
        block content

    block append scripts

    footer
        p Copyright (c) mazl