extends layout


block content
    h1= title
    p now you use #{title}
    textarea(style="width:800px;height:400px;" class="upload-content")
    a(href="javascript:void(0)" class='button submitButton') 提交

    br
    br
    br
    br
    input(type="file" id="fileId")
    a(href="javascript:void(0)" class='button uploadFileButton') 上传文件

block append scripts
    script(type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type="text/javascript" src='/js/business/sound/sound-upload.js')
