//
   Created by Administrator on 2019/6/18.

extends layout


block content
    ul.nav(role="tablist" class="nav-tabs" id="sound-tab")
        li(class="active",role="presentation")
            a(href="#upload" role="tab" data-toggle="tab") 上传
            a(href="#mp3_list" role="tab" data-toggle="tab") 列表
            a(href="#pic_upload" role="tab" data-toggle="tab") 图片
            a(href="#split_img" role="tab" data-toggle="tab") 图片
    div.tab-content(height="100%" width="100%")
        div(div role="tabpanel" class="tab-pane active" id="upload")
            iframe(src="/sound/upload" height="80%" width="90%" style="position: absolute" )
        div(div role="tabpanel" class="tab-pane" id="mp3_list")
            iframe(src="/sound/mp3_list" height="80%" width="90%" style="position: absolute" )
        div(div role="tabpanel" class="tab-pane" id="pic_upload")
            iframe(src="http://localhost:3000" height="80%" width="90%" style="position: absolute" )
        div(div role="tabpanel" class="tab-pane" id="split_img")
            iframe(src="/sound/mp3_list" height="80%" width="90%" style="position: absolute" )


block append scripts
    //script(type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type="text/javascript" src='/js/business/sound/tabView.js')