//
   Created by Administrator on 2019/6/18.

extends layout


block content
    div
        p(class="showHidden") 111111111111111111111111111111111111111111111

    div(class="showHiddenDiv" hidden)
        div.demo
            div.container
                div.row
                    each index in content
                        div(class="col-md-3 col-sm-6")
                            div.counter
                                div.counter-content
                                    div.counter-icon(class="fa fa-globe")
                                        span.counter-value #{index.countss}
                                    h3.title #{index._id}


    //div(class="thumbnail")
    //    div(class="caption")
    //        h3 Thumbnail label
    //        span
    //            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    div()
        ul(role="tablist" class="nav nav-tabs" id="sound-tab")
            li(class="active",role="presentation")
                a(href="#upload" role="tab" data-toggle="tab") 上传
            li(role="presentation")
                a(href="#mp3_list" role="tab" data-toggle="tab") 列表
            li(role="presentation")
                a(href="#pic_upload" role="tab" data-toggle="tab") 图片
            li(role="presentation")
                a(href="#split_img" role="tab" data-toggle="tab") 分割图片
        div(class="tab-content"  )
            div(role="tabpanel" class="tab-pane active" id="upload" )
                iframe(src="/sound/upload"  height="60%"  style="position: absolute" width="80%" )
            div(role="tabpanel" class="tab-pane" id="mp3_list")
                iframe(src="/sound/mp3_list" height="60%"  width="100%" style="position: absolute" )
            div(role="tabpanel" class="tab-pane" id="pic_upload")
                iframe(src="/sound/mp3_img" height="60%"  width="100%" style="position: absolute" )
            div(role="tabpanel" class="tab-pane" id="split_img")
                iframe(src="/sound/img_list" height="60%"   width="100%" style="position: absolute" )



block append scripts
    //script(type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type="text/javascript" src='/js/business/sound/tabView.js')