//
   Created by Administrator on 2019/6/18.

extends layout


block content
    div
        p(class="showHidden") 悬浮悬浮悬浮

    div(class="showHiddenDiv" hidden)
        div.demo
            div.container
                div.row
                    each index in content
                        div(class="col-md-3 col-sm-6 everyFileName")
                            div.counter
                                div.counter-content
                                    div.counter-icon(class="fa fa-globe")
                                        span.counter-value #{index.countss}
                                    h3.title #{index._id}

        button(id="closeCountss" class="btn") 关闭
    p(id="presentFileName" var="") 当前选中

    button(onclick="showFullScreen1()" class="btn") 1屏
    button(onclick="showFullScreen2()" class="btn") 2屏
    button(onclick="showFullScreen3()" class="btn") 3屏
    button(onclick="showFullScreen4()" class="btn") 4屏
    button(onclick="showFullScreen5()" class="btn") 5屏

    //div(class="thumbnail")
    //    div(class="caption")
    //        h3 Thumbnail label
    //        span
    //            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    div()
        ul(role="tablist" class="nav nav-tabs" id="sound-tab")
            li(class="active",role="presentation")
                a(href="#upload" role="tab" data-toggle="tab") 上传
            li(role="presentation")
                a(href="#mp3_list" role="tab" data-toggle="tab") 列表
            li(role="presentation")
                a(href="#pic_upload" role="tab" data-toggle="tab") 图片
            li(role="presentation")
                a(href="#split_img" role="tab" data-toggle="tab") 分割图片
            li(role="presentation")
                a(href="#transfer_vedio" role="tab" data-toggle="tab") 转换or合并图片
        div(class="tab-content"  )
            div(role="tabpanel" class="tab-pane active" id="upload" )
                iframe(src="/sound/upload" allowfullscreen   height="80%" id="fullScreen1"  style="position: absolute" width="90%" )
            div(role="tabpanel" class="tab-pane" id="mp3_list")
                iframe(src="/sound/mp3_list" allowfullscreen  height="80%" id="mp3AlterIframe" width="90%" style="position: absolute" )
            div(role="tabpanel" class="tab-pane" id="pic_upload")
                iframe(src="/sound/mp3_img" allowfullscreen  height="80%" id="fullScreen3" width="90%" style="position: absolute" )
            div(role="tabpanel" class="tab-pane" id="split_img")
                iframe(src="/sound/img_list" allowfullscreen  height="80%" id="fullScreen4"  width="90%" style="position: absolute" )
            div(role="tabpanel" class="tab-pane" id="transfer_vedio")
                iframe(src="/move/initMove" allowfullscreen  height="80%" id="fullScreen5"  width="90%" style="position: absolute" )



block append scripts
    //script(type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type="text/javascript" src='/js/business/sound/tabView.js')