.tab-h2 {

  color:#0059b2;

  font-size:20px;

  letter-spacing: 1px;

  text-align:center;

  margin:45px 60px 10px 0px;

}

.tab-p {

  font-size: 22px;

  letter-spacing: 5px;

  text-align:left;

  color: #666;

  margin:15px 130px 45px 0px;

}